<mat-sidenav-container>
<mat-sidenav mode="side" opened class="sidenav">
     
<mat-nav-list>
    <a mat-list-item *ngFor="let user of users"
    (click)="sendData(user)"      
>
      {{user.name }}
</a>
    
</mat-nav-list>
</mat-sidenav> 

<mat-sidenav-content class="sidecontent"> 
      <app-table></app-table>
</mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list style="width:300px;">
        <a routerLink='dashboard' mat-list-item><mat-icon>dashboard</mat-icon>Dashboard</a>
        <a routerLink='student'  mat-list-item><mat-icon>perm_identity</mat-icon>student</a>
        <a mat-list-item><mat-icon>supervisor_account</mat-icon>staff</a>
        <a mat-list-item><mat-icon>supervised_user_circle</mat-icon>Attendance</a>
        <a mat-list-item><mat-icon>find_in_page</mat-icon>Feedback</a>
 
</mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <p style="height:88vh">
          <router-outlet></router-outlet>
</p>
</mat-sidenav-content>
</mat-sidenav-container> -->
